body {
    font-family: 'boncegro', cursive;
    background-color: #e9d9cd;
}

header {
    font-size: 48px;
    word-spacing: 3rem;
    text-align: center;
}

header span.mustard-text {
    color: #bc5c24;
}

header span.brown-text {
    color: #64442c;
}

h1 {
    margin: 0 0 8px 0;
    text-align: center;
}

.rules {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.rules button {
    border: none;
    border-radius: 4px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: 'boncegro', cursive;
    padding: 10px 24px 10px 24px;
    font-size: 24px;
    background-color: #a4aa7d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fab05a;
    padding-top: 20px;
    padding-bottom: 50px;
}

.container .roundResults {
    color: #717f4b;
    font-size: 32px;
}

.buttonClass {
    display: flex;
    justify-content: center;
    font-size: 48px;
}

.buttonClass button {
    padding: 12px 30px 12px 30px;
    margin-left: 24px;
    margin-right: 24px;
    border: none;
    border-radius: 8px;
}

#rock {
    background-color: black;
}

#paper {
    background-color: #bc5c24;
}

#scissors {
    background-color: #64442c;
}


.sign {
    font-size: 80px;
}

.scores {
    background-color: black;
    border-radius: 2px;
    color: #e9d9cd;
    display: block;
    width: 200px;
    text-align: center;
    margin: 12px 0px 24px 0px;
    font-size: 24px;
}

.results {
    font-size: 42px;
    font-weight: bolder;
    margin-top: 18px;
}

.replay button {
    border: none;
    font-family: 'boncegro', cursive;
    border-radius: 8px;
    border: none;
    background-color: #737c4b;
    color: #cfdac6;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}